.navbar {
  position: sticky;
  top: 0;
  background: #000;
  padding: 1rem 0;
  z-index: 1000;
  transition: 0.3s;
}

.navbar.scrolled {
  padding: 0.5rem 0;
}

.nav-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  color: #ffdd57;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  text-decoration: none;
}

/* MENU */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
}

/* AUTH */
.auth-btns {
  display: flex;
  gap: 10px;
}

.login-btn {
  padding: 8px 18px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* HAMBURGER DEFAULT */
.hamburger {
  display: none;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  transition: 0.3s;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #ea580c;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav-menu.active {
    max-height: 500px;
  }

  .nav-link {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  /* ANIMATION */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
